{% extends 'layout.html' %}

{% block title %}
    Add Quiz
{% endblock %}

{% block content %}
    <h1 class="display-5 fw-bold"> New Quiz</h1>
    <form action="{{url_for('add_quiz_post')}}" method="post" class="form">

        <div class="form-group">
            <label for="chapter_id" class="form-label">Chapter:</label>
            <select name="chapter_id" id="chapter_id" class="form-control" required>
                {% for ch in chapters %}
                    <option value="{{ch.id}}">{{ch.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="date_of_quiz" class="form-label">Date of Quiz:</label>
            <input type="date" name="date_of_quiz" id="date_of_quiz" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="time_duration" class="form-label">Time Duration:</label>
            <input type="time" name="time_duration" id="time_duration" class="form-control" required>
        </div>
        <div class ="form-group">
            <label for="remarks" class="form-label">Remarks:</label>
            <textarea name="remarks" id="remarks" class="form-control"></textarea>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class=" fw-bold btn btn-success">  
                Add
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </form>
{% endblock %}
