<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="{{url_for('index') }}">
          Quiz Master
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          {% if 'user_id' in session %}
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('index') }}">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('profile') }}">Profile</a>
          </li>
          {% if session.get('is_admin') %}
                <!-- Admin-specific button -->
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('quiz') }}">Quiz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('admin_view_users') }}">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('admin_summary') }}">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('admin_search') }}">Search</a>
          </li>
                {% else %}
                
                <!-- User-specific button -->
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('score') }}">Score</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ url_for('user_summary') }}">Summary</a>
              </li>
                {% endif %}
          {% endif %}
        </ul>
          {% if 'user_id' in session %}
                <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-primary fw-bold" href="{{ url_for('logout') }}">Logout</a>
              </li>
          </ul>
          {% else %}
          <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('register') }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>